:root {
    --link-color: #2196F3;
    --webstudio-color: #000000;
    --color-text-primary: #212121;
    --color-text-secondary: #FFFFFF;
    --color-button: #F5F4FA;
    --hero-button-hover: #188ce8;
    --color-btn-shadow: #eeeeee;
    --text: #757575;
    --footer-color: #2F303A;
    --webstudio-border: #ECECEC;
    --color-customers: #F5F5F5;
    --color-social: #AFB1B8;
    
}